.clothesWrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 12px;
}

.clothesWrap li {
  font-size: 12px;
}

.clothesWrap li:first-of-type {
  font-size: 16px;
}

.clothesWrap li:hover {
  color: grey;
}
